#fiveserver-info-wrapper {

    display: none !important;
}

:root{

    color-scheme: light dark;
}

*{
     -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    padding: 0;
    margin:0;
    box-sizing: border-box;
    color:white;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Bold.woff2) format('woff2');
    font-display: swap;
} 


html, body{

    height: 100%;

}

body{

    background-color: rgb(21, 22, 24);
    transition: 0.2s ease-in-out;

}


header{

    display: flex;
    padding: 15px 0;
}

nav{
    width: 100%;
     background-color:#1d2338;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    top:0px;
    box-shadow: 0px 4px 5px  #000;
    position: fixed;
    z-index: 9999;
}


nav h1{
    font-size: 1.7rem;
    font-family: poppins;
    text-transform: capitalize;

    text-shadow: 2px 2px 2px black
    
}


nav h1 a{
    text-decoration:none;
    color:white;
}

ul{

    display: flex;

}

ul li{

    list-style: none;
    
}

ul li a{

    text-decoration: none;
}

.options-container{
    
    display: flex;
    align-items: center;

}



div.light-dark-mode{
    
    width:2.8rem;
    height: 2.8rem;
    border-radius: 30%;
    background-color: #FBD38D; 
    display: flex;
    align-items: center;
    justify-self: start;
    padding:5px;
    overflow: hidden;

}


div.light-dark-mode:hover{
    cursor: pointer;
}

.btn-darkmode{
    
    fill: black;
    
}

.hamburguer{

    width: 2.8rem;
    height: 2.8rem;
    border-radius: 30%;
    background-color: #FBD38D;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;

}

.hamburguer:hover{

    cursor: pointer;
}

.x{

    width: 60%;
    
    padding: 0.1rem;
    background-color: black;
    transition: transform 0.3s ease, width 0.3s ease;
    transform-origin: center;
}

.nav-options{

    display: none; 
    position: fixed;
    inset: 0;
    background-color:#161925;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 1;

}


.nav-options  li  {

    font-family: poppins, sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 5px black;
}

.nav-options li a {

    text-decoration: none;
    color: white;
    
}



.conteudo-principal{

    margin:0 10px;
  
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.conteudo-principal h1{

    font-family: poppins, sans-serif;
    text-transform: capitalize;
    border-bottom: 2px solid white;
    margin:0 0 15px 0;

}

.ultimas-postagens{

    padding: 0 15px;

}

.ultimas-postagens article h3::first-letter{

    text-transform: capitalize;   

}



.articles-container{
    
    font-family: poppins;
    width: 100%;
    display: grid;
    column-gap:10px;
    grid-template-columns: 1fr 1fr 1fr ;
    

}


.articles-container article{

    width:100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.reveal-article{

    opacity: 1 !important;
}

.article-contain{
        
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}


.article-contain img{
width: 100%;
aspect-ratio: 16 / 9;
display: block;
object-fit: cover;


}




.article-description {

    width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 250px;
    
    padding: 10px;
    background:#ccc; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.article-description *{

    text-align: center;
}

.article-description h3{

    font-size: 1.1rem;
   
}

.article-description h3 a{

     transition: 0.5s ease;
}

.article-description h3 a:hover{

    color: #785212;
}

.description-style{

    color:black;
    text-align: center;
    font-size: 15px;
}




.article-description a {

    text-decoration: none;
    color:black;
}

p.cat-tech{

    
    width: max-content;
    border-radius: 30px;
    color:white;
    padding: 0 12px;
    text-align: left;
    font-size: 15px;
    background-color: #161925;
    text-transform: capitalize;
}


p.cat-blog{

    
    width: max-content;
    border-radius: 30px;
    color:white;
    padding: 0 12px;
    text-align: left;
    font-size: 15px;
    background-color: rgb(61, 58, 7);
    text-transform: capitalize;
}

footer {
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
    text-align: center;
    opacity: 0;
    height: 10%;
    padding: 15px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    margin:20px 0;
    background-color:#1d2338;
  
}

.ler-artigo{
 transition: 0.2s ease;
 padding: 5px 40px;
 background-color: #785212;
 display: flex;
 text-align: center;
 font-variant: small-caps;
 font-size: 1rem;
 border-radius: 10px;
 color:white !important;

}

.ler-artigo:hover{

 background-color: #573c0e;

}

/* -------------------------- MOBILE ---------------------------*/

@media screen and (max-width: 800px){

    .ultimas-postagens h1{

        font-size: 1.6rem;
        
    }
    .articles-container{
         grid-template-columns: 1fr;
         row-gap: 10px;
   
    }
}

/*-------------------------------------------------------------*/