#fiveserver-info-wrapper{

    display: none !important;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Bold.woff2) format('woff2');
    font-display: swap;
} 




@font-face {
    font-family: whitney;
    src: url(../fonts/whitneybook.woff2) format('woff2');
    font-display: swap;
} 
:root{

    color-scheme: light dark;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color:white;
    -webkit-tap-highlight-color:transparent !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html, body{

    height: 100%;
}


body{

    background-color: rgb(21, 22, 24);

}


header{

    display: flex;
    padding: 15px 0;
}

nav{
    width: 100%;
      background-color:#1d2338;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    top:0px;
    box-shadow: 0px 4px 5px  #000;
    position: fixed;
    z-index: 9999;
}


nav h1{
    font-size: 1.7rem;
    font-family: poppins, sans-serif;
    text-transform: capitalize;

    text-shadow: 2px 2px 2px black
    
}


nav h1 a{
    text-decoration:none;
    color:white;
}

ul{

    display: flex;

}

ul li{

    list-style: none;
    
}

ul li a{

    text-decoration: none;
}

.options-container{
    
    display: flex;
    align-items: center;

}



div.light-dark-mode{
    
    width:2.8rem;
    height: 2.8rem;
    border-radius: 30%;
    background-color: #FBD38D; 
    display: flex;
    align-items: center;
    justify-self: start;
    padding:5px;
    overflow: hidden;

}


div.light-dark-mode:hover{
    cursor: pointer;
}

.btn-darkmode{
    
    fill: black;
    
}

.hamburguer{

    width: 2.8rem;
    height: 2.8rem;
    border-radius: 30%;
    background-color: #FBD38D;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;

}

.hamburguer:hover{

    cursor: pointer;
}

.x{

    width: 60%;
    
    padding: 0.1rem;
    background-color: black;
    transition: transform 0.3s ease, width 0.3s ease;
    transform-origin: center;
}


.content-container hr{

    width: 95%;
    color:wheat
}
.nav-options{

    display: none; 
    position: fixed;
    inset: 0;
    background-color:#161925;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 1;

}


.nav-options  li  {

    font-family: poppins, sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 5px black;
}

.nav-options li a {

    text-decoration: none;
    color: white;
    
}

.conteudo-principal{


    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.breadcrumb{
    padding: 0 15px;
    margin: 0 0 15px 0;
}

.content{

    width: 100%;
  
    overflow: hidden;
    opacity: 1;
    /* transition: 0.3s ease; */
}

.reveal-posts-and-text{

    opacity: 1 !important;
}
.content article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    transition: 1s ease;
    opacity: 0;
}
.content-container{

    display: flex;
    width: 90%;
    
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    
}

.content-container h2{

    font-size:  2rem;

}

.content-container h2::first-letter{

    text-transform: capitalize;
}

.content-container > *{

    margin:15px 0;
    
    
}



div.contain-img-content{
    width: 50%;
    border:5px solid white;
    overflow: hidden;
    transition: 2s ease;
    border-radius: 30px;
    align-self: center;
    
}

div.contain-img-content img{
  width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit:cover;
    display: block;
    margin: 0;

    
}



.contain-img{

    width: 50%;
    border:5px solid white;
    opacity: 0;    
    overflow: hidden;
    transition: 2s ease;
    border-radius: 30px;
}



.content-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9; 
    object-fit:cover;
    display: block;

}


.content-text{
    
    overflow: hidden;
    transition: 2s ease;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;    
    font-family: whitney, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1.5;
    opacity: 0;
}

.content-text *{

    margin: 15px 0px;
    color:white;
    text-align: justify;
    font-weight: 100;
}

.bolder{

    font-weight: 900 !important;
}

.header-2{

    font-family: poppins; 
    font-size: 2.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
    text-align: center;
    height: 10%;
    padding: 15px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    margin:20px 0;
    background-color:#1d2338;

}

.lista{

    margin: 0;
    padding: 0px 25px;
    list-style-type: disc;

}


.list-style{
    margin: 0;
    padding: 0px 25px;

}
.list-style a{

    text-decoration: underline;
    color: white;
}

.list-style > *{

    list-style-type: disc;

}


/* -------------------------- MOBILE ---------------------------*/

@media screen and (max-width: 800px){

.content-container hr{

    width: 100%;

}
    #titulo-artigo{

    text-align: center;
}

.content-container{

    width: 90%;
}


.content-text{

    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    font-family: whitney;
    font-weight: 800;
    padding: 0px 0px;
    overflow-wrap: break-word;    

}

.content-text *{
    
    font-size: 22px;
    text-align: left;
    

}

    .content-img{
        
        width: 100%;
        height: 100%;
        
    }


.contain-img{

    width: 90%;
    opacity: 0;    
    overflow: hidden;
    transition: 2s ease;
    border-radius: 30px;
}

div.contain-img-content{
    width: 100%;
}




}

/*-------------------------------------------------------------*/